* {
  padding: 0; /* Resetting the browser's padding and margins to 0 ensures precise control over the width and height of elements. */
  margin: 0;
  box-sizing: border-box; /* setting the box-sizing property to border-box allows both padding and border to be added within the width and height of the element. */
}

.main {
  display: flex;
}

header {
  text-align: center;
  position: relative;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.116);
  background-color: aliceblue;
}

.logo-wrapper {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.logo-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header h1 {
  line-height: 80px;
  color: #25265e;
}

/* side bar styles start */

.sidebar {
  width: 30%;
  height: 450px;
  border: 1px solid rgba(0, 0, 0, 0.137);
  color: #25265e;
  padding: 8px;
  /* makes the sidebar sticky */
  position: sticky;
  top: 0px;
}

.menu-heading {
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar ul {
  /* removes the bullet points in list items */
  list-style-type: none;

  /* list item marker is placed within the content area of the list item */
  list-style-position: inside;

  padding-left: 20px;
  margin-bottom: 12px;
}

.menu-sub-heading {
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 12px;
  color: #25265e;
}

.sub-menu li {
  margin-bottom: 16px;
}

.sidebar a {
  color: #0556f3;
  text-decoration: none;
}

.sidebar a:hover {
  color: #03338f;
}

/* side bar styles end */

/* main content styles start */

.main-content {
  width: 70%;
  padding: 10px;
  margin-left: auto;
}

h2,
h3 {
  color: #25265e;
  margin-bottom: 12px;
}

p {
  margin-bottom: 24px;
  line-height: 24px;
}

.main ul {
  list-style-position: inside;
  padding-left: 20px;
  margin-bottom: 12px;
}

.section-break {
  margin: 24px 0px;
}

pre.code-block {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  background-color: aliceblue;
  margin-bottom: 24px;
  white-space: pre-line;
}

/* images are allowed to shrink for smaller screen sizes */
.main-content img {
  max-width: 100%;
}
/* main content styles end */
